/* Customizacoes sobre elementos especificos*/

/*Ajustes sobre o corpo da página
/*Adiciona espaço para que a navbar secundária permaneça fixa no topo da tela sem sobrepor o conteúdo*/
body { 
  padding-top: 100px; /*50px é a altura padrão das navbars no bootstrap, como temos duas precisamos de 100px*/
  min-height: 100vh;
}

/* Outline dos links (geral, menus, rodapé)  */
input:focus, 
button:focus,
textarea:focus,
a:focus {
  outline-width: 3px !important;
  outline-style: dashed !important;  
}

a:focus,
input:focus, 
button:focus,
textarea:focus,
nav.menuTelaPrincipal a:focus, 
nav.menuNavegacaoSecundario a:focus,
div.contribute-strip a:focus,
footer a:focus {
  outline-color: black !important;
}


/* Listas no Mapa do Site */
#mapa-do-site, #mapa-do-site li {
  list-style: none !important;
}


/*  Breadcrumb */
ol.breadcrumb li{
  color: black !important;
}

ol.breadcrumb a{
  color: #0a60a7 !important;
}

main div.row.breadcrumb-clear-pad, 
main div.row.breadcrumb-clear-pad div.col
{
  padding: 0 !important;
}

/* Menu de navegação */
#navegacaoPrincipal {
  justify-content: flex-end;
}

#card-retace-intro, #card-retace-busca {
  background-color: #3E67B1;
  color: white;
  border: none;
}
#btnSearch {
  background-color: #10538a !important;
  border: 1px solid #10538a !important;
}


/*
*******************************************************/

/*Sobrescreve as cores dos botões normalmente utilizados em formulários
*/
.btn-primary{
  background-color: #3E67B1!important;
  border-color: #3E67B1!important; 
}

.btn-primary:hover{
  filter: brightness(115%);
}
/************* Banner da tela principal **************/
.banner{
	/*background: url(/imagens/fundoMenuPrincipal.jpg) scroll center no-repeat;*/
  background-color: #3E67B1!important;
  /**background-size: cover;**/
}
/***************************/

.custom-file-label::after{
  content:"Procurar" !important;
  background-color: #3E67B1!important;
  color: white;
}
/*****Customização dos Menus *****
*
*
/**Define um tamanho adequado para o botão das redes sociais aparecerem nos menus**/
.iconePequeno{
  background: none;
  border: none;
  max-width: 32px;
}

.card-img-top {
  height: 10rem;
  object-fit: none;
}

.fotoSelecionada{
  /*object-fit: none !important;*/
  max-width: 100%;
  max-height: 100%;
  display: block;  
}

/**Ajusta o menu de navegação principal para que, ao colapsar, expanda seus itens por sobre a página**/
.menuTelaPrincipal{
	position: absolute!important;
	width: 100%!important;
	z-index: 20;
	top: 50px;
}

/**Ajusta a cor do bg-primary para uma das cores temas escolhidas para o projeto**/
.bg-primary{
	background-color: #3E67B1!important;
}

/**Muda a cor para a outra cor do tema ao clicar ou passar por cima do botão de exibir menu (quando a barra está colapsada)**/
button.bg-primary:hover, button.bg-primary:focus {
  background-color: #21376C!important;
}

/**Muda a cor das letras dos itens do menu para aumentar o contraste*/
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

/**Ajusta a cor do bg-secondary para uma das cores escolhidas para o projeto**/
.bg-secondary{
	background-color: #21376C!important;
}

/**Muda a cor para a outra cor do tema ao clicar ou passar por cima do botão de exibir menu (quando a barra está colapsada)**/
button.bg-secondary:hover, button.bg-secondary:focus {
  background-color: #3E67B1!important;
}

.dottedUnderline{
  text-decoration:underline!important;
text-decoration-style: dotted!important;
}

.badge-primary {
  color: #FFFFFF !important;
  background-color: #3E67B1 !important;
}

#manuais a, #arquivos a, #fabricante a {
  color: #2075BC !important;
}


.sr-only {
  color: #000000 !important;
  background-color: #FFFFFF !important;
}

.btn.btn-success {
  background-color: #26824C !important;
}

.file-drop-zone-title {
  color: #757575 !important;
}

a.link-primary {
  color: #2075BC !important;
}

/*
*
/*******	Fim da customização dos menus *******/

/** Classe para sinalizar campos obrigatórios de formulários**/
.form-group.required .col-form-label:after { 
 content:"*";
 color:red;
}

/** Classe para sinalizar qualquer elemento html como obrigatorio **/
.obrigatorio:after{
  content:"*";
  color:red;
}

/**Classe para posicionar o botão dentro de um input field***/
.botao-dentro-input{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/**Classe para dar destaque a item**/
.destaque{
  background-color: #ECF83BB3!important;
}

/**Muda o cursor para indicar que é clicável**/
.cursor-pointer{
  cursor:pointer;
}
/*************************************************************/

.page-footer{
  color: rgba(255, 255, 255, 1) !important;
}

/* unvisited link */
.page-footer a {
  color: rgba(255, 255, 255, 1) !important;
  text-decoration: underline;
}

/* mouse over link */
.page-footer a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.page-footer .logos > .row {
  max-width: 500px;
  min-width: 250px;
  margin-left: auto;
}
.page-footer .container-fluid > div.d-flex {
  padding-left: 15px;
  padding-right: 15px;
}

/*********** Diferentes opacidades porque o Bootstrap não definiu
*
*/
.opacidade-0 {
  opacity:0!important;
}
.opacidade-2 {
  opacity:0.2!important;
}
.opacidade-4 {
  opacity:0.4!important;
}
.opacidade-6 {
  opacity:0.6!important;
}
.opacidade-8 {
  opacity:0.8!important;
}
.opacidade-10 {
  opacity:1!important;
}
/**
*
********** Fim das classes de opacidade*****/

.tagChip{
  color:white !important;
  font-size: 16px !important;
  background-color: #3E67B1 !important;
}





/***************************/


ul.ui-autocomplete {
   overflow: auto !important;
   max-height: 300px !important;
}

/*ATUALIZAÇÃOES A PARTIR DE 20/02/2025*/
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/vendor/lightgallery/src/SourceSans3-Regular.eot');
  src: url('/fonts/vendor/lightgallery/src/SourceSans3-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-Regular.woff2') format('woff2'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-Regular.woff') format('woff'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/vendor/lightgallery/src/SourceSans3-SemiBold.eot');
  src: url('/fonts/vendor/lightgallery/src/SourceSans3-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-SemiBold.woff2') format('woff2'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-SemiBold.woff') format('woff'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/vendor/lightgallery/src/SourceSans3-Bold.eot');
  src: url('/fonts/vendor/lightgallery/src/SourceSans3-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-Bold.woff2') format('woff2'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-Bold.woff') format('woff'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/vendor/lightgallery/src/SourceSans3-BoldItalic.eot');
  src: url('/fonts/vendor/lightgallery/src/SourceSans3-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-BoldItalic.woff2') format('woff2'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-BoldItalic.woff') format('woff'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/vendor/lightgallery/src/SourceSans3-Black.eot');
  src: url('/fonts/vendor/lightgallery/src/SourceSans3-Black.eot?#iefix') format('embedded-opentype'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-Black.woff2') format('woff2'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-Black.woff') format('woff'),
      url('/fonts/vendor/lightgallery/src/SourceSans3-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
a.link-primary,
a:hover {
  color: #295c99 !important;
  text-decoration: underline;
}
.bg-primary {
  background-color: #383838 !important;
}
a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #383838 !important;
}
.bg-secondary {
  background-color: #e7e7e9 !important;
}
a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #b2b2d9 !important;
}
.bg-blue {
  background-color: #d0e4ea;
}
.bg-purple {
  background-color: #e2d3ea;
}
.badge-light {
  color: #383838;
  background-color: rgba(255, 255, 255, 0.7);
}
.navbar-light .navbar-nav .nav-link {
  color: #383838;
}
.banner {
  background: url(../imagens/fundo_banner.jpg) center no-repeat;
  background-size: cover;
  width: 1800px;
  max-width: calc(100% - 80px) !important;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 25px;
  margin-top: 60px;
}
.navbar-brand span.h4 {
  background: url(../imagens/logo-retace.png) center no-repeat;
  background-size: contain;
  display: flex;
  width: 112px;
  height: 23px;
  text-indent: -9999px;
}
body {
  background-color: #f9efe4;
  color: #383838;
}
#card-retace-intro, #card-retace-busca {
  background-color: transparent;
}
.banner #card-retace-intro h2.h1 {
  font-family: "Source Sans 3";
  font-weight: 900;
  font-size: 55px;
  line-height: 56px;
  max-width: 900px;
  color: #ffffff;
  margin: 0 auto;
}
.banner #card-retace-busca h2 {
  font-family: "Source Sans 3";
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 3px;
  margin-bottom: 26px;
}
#box-form {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 78px;
  max-width: 100%;
  width: 100%;
  height: 65px;
  border-radius: 32.5px;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
}
.banner #box-form {
  max-width: 840px;
}
#box-form input {
  height: 100%;
  font-size: 18px;
  color: #343434;
  opacity: 1;
  padding-left: 27px;
}
#box-form button {
  width: 100%;
}
#btnSearch {
  background-color: #ffffff !important;
  border: none !important;
}
#btnSearch.btn-primary {
  color: #343434;
}
#btnSearch.btn-primary:hover {
  filter: none;
  background-color: #dcdcdc !important;
  color: #343434 !important;
  border-radius: 32.5px;
}
#btnSearch {
  border-radius: 32.5px;
  overflow: hidden;
}
#box-form .form-control {
  border: none;
}
#box-form .form-control:focus {
  box-shadow: none !important;
  outline-style: none !important;
}
#btnSearch .fa {
  font-size: 20px;
}
header .navbar {
  padding: 0.5rem 40px;
}
#navegacaoSecundaria {
  margin: 0 -8px;
}
.badge-primary {
  background-color: #383838 !important;
}
#navegacaoCategorias {
  border-radius: 54px;
  padding: 26px 38px;
}
.container {
  max-width: 1320px;
}
#navegacaoCategorias.navbar-light .navbar-brand {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 24px;
  color: #383838;
}
#navegacaoCategorias.navbar-light .navbar-nav {
  gap: 10px;
}
#navegacaoCategorias.navbar-light .navbar-nav .nav-link {
  background-color: #f9efe4;
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 20px;
  border: 2px solid #383838;
  border-radius: 27.5px;
  padding: 10px 23px;
}
#navegacaoCategorias.navbar-light .navbar-nav .nav-link:hover {
  background-color: #383838;
  color: #f9efe4 !important;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #000 !important;
}
main h2 {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 40px;
}
.footer-copyright span {
  color: #383838;
  font-size: 16px;
}
.container {
  padding: 0;
}
footer .h5 {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 24px;
}
footer p,
footer a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 500px;
}
footer a i {
  margin-right: 4px;
}
ol.breadcrumb li {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 19px;
  color: #383838 !important;
}
ol.breadcrumb li:first-child {
  font-weight: 600;
}
ol.breadcrumb a {
  color: #383838 !important;
  text-decoration: underline;
}
.card {
  border: none;
  border-radius: 12px;
}
.card-link {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #383838;
}
.card-text {
  font-size: 16px;
  line-height: 22px;
}
.breadcrumb {
  margin-bottom: 0;
}
#resultadoBusca .h3 {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 27px;
  color: #383838;
}
#listagemRecursos h3 {
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 24px;
  color: #383838;
}
.container-xl {
  max-width: 1658px;
  width: calc(100% - 80px);
  padding: 0;
  margin: 0 auto;
}
#listagem_filtros {
  /*display: grid;
  grid-template-columns: 355px 1fr;*/
  gap: 30px;
  margin: 0;
}
.box-filtros {
  padding: 28px;
  box-sizing: border-box;
}
.box-filtros h4 {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: #383838;
}
hr {
  border-top: 1px solid #9b9b9b;
}
details summary {
  cursor: pointer;
  list-style: none;
  position: relative;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 17px;
  color: #383838;
}
details summary::before {
  background: url(../imagens/seta_filtros.png) center no-repeat;
  background-size: contain;
  width: 15px;
  height: 10px;
  content: "";
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
details[open] summary::before {
  transform: rotate(180deg);
}
.filter-options ul {
  list-style: none;
  padding-left: 0;
}
.custom-checkbox:checked {
  background-color: #383838;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #383838;
  background-color: #383838;
}
#aprender_contribuir {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1608px;
  width: calc(100% - 80px);
  margin: 0 auto;
}
#aprender,
#contribuir {
  padding: 65px;
  padding-left: 345px;
  border-radius: 18px;
}
#aprender {
  background: #d0e4ea url(../imagens/img_aprender.png) center left 40px no-repeat;
  background-size: 240px;
}
#contribuir {
  background: #d0e4ea url(../imagens/img_contrubuir.png) center left 40px no-repeat;
  background-size: 270px;
}
#aprender_contribuir h3 a {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 42px;
  color: #2f2f30;
}
#aprender_contribuir p {
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 20px !important;
  line-height: 32px;
  color: #2f2f30;
}
.card-img-top {
  object-fit: contain;
}
.card-title {
  font-size: 20px;
}
.shadow-sm {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1) !important;
}
.custom-container {
  max-width: 1120px;
}
.custom_content ul {
  padding-left: 14px;
}
.custom_content ul.d-flex {
  gap: 28px;
  padding-left: 0;
}
.rounded-8 {
  border-radius: 8px;
}
.rounded {
  border-radius: 12px !important;
}
.rounded-lg {
  border-radius: 18px !important;
}
.custom_content ul {
  font-size: 19px;
  line-height: 30px;
}
.custom_content ul.d-flex li {
  font-size: 17px;
  line-height: 26px;
}
.custom_content ul.d-flex strong {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.custom_content h2 {
  font-family: "Source Sans 3";
  font-weight: 900;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
}
.custom_content h3 {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 0.75rem;
}
.custom_content p {
  font-size: 18px;
  line-height: 30px;
}
.custom_content p b {
  font-size: 20px;
}
.custom_content .p-4 {
  padding: 2rem !important;
}
.custom_content .frase_destaque p {
  font-size: 25px;
  line-height: 34px;
}
.custom_content .frase_destaque p b {
  font-size: 28px;
}
.custom_content .historico p {
  font-size: 16px;
  line-height: 26px;
}
.custom_content p {
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}
.custom_content #aprender_contribuir h3 {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 0.75rem;
}
.custom_content #aprender_contribuir p {
  line-height: 30px;
}
#acessibilidade h3 {
  font-size: 28px;
}
#acessibilidade b {
  font-weight: 600;
}
#conteudo_aprender.custom-container,
#app.custom_content {
  max-width: 944px;
}
#conteudo_aprender h2 {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
}
.custom_content .card h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  max-width: 560px;
}
.custom_content .card h3 a {
  color: #383838 !important;
}
.custom_content .card p b {
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
}
.custom_content .card p,
.custom_content .card ul {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  line-height: 26px;
}
.custom_content .card .badge {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  top: 20px;
  right: 20px;
  padding: 7px 12px;
}
#app h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
}
.bg-gray {
  background-color: #f1f1f1;
}
.amsify-suggestags-input,
.file-preview,
#fotoDestaque .file-caption {
  background-color: #f1f1f1;
  border: none;
}
.file-preview-thumbnails {
  background-color: #ffffff;
}
.bg-gray.form-control {
  border: none;
  border-radius: 8px;
}
.bg-gray.form-control:focus {
  background-color: #f1f1f1;
}
.sem-borda {
  border: none;
}
.custom_content legend.h3 {
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 27px;
}
.custom_content label,
.custom_content .col-form-label {
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
}
.form-check-input {
  margin-top: 2px;
}
#label-sim,
#label-nao {
  font-weight: 400;
}
.custom-file-label {
  max-height: 37px;
  font-weight: 400 !important;
  font-size: 15px !important;
  color: #495057;
  border: none;
  border-radius: 8px;
}
.custom-file-label::after,
.manual-upload::after,
.input-group-btn  .btn-file,
#btnAdicionarVideo {
  content: "Procurar..." !important;
  background-color: #383838 !important;
  font-family: "Source Sans 3" !important;
  font-weight: 600;
  font-size: 14px !important;
  text-transform: uppercase;
  padding: 0.375rem 1.75rem;
  height: 37px;
  border: none;
  border-radius: 8px;
}
#btnAdicionarVideo {
  width: 137px;
}
#urlVideo {
  width: calc(100% - 137px);
}
.input-group-btn  .btn-file {
  padding-left: 16px;
}
.input-group-btn  .btn-file .fa-file::before {
  margin-right: 9px;
}
.custom_content .card #divVideos p,
.custom_content .card #divVideos ul {
  font-family: "Source Sans 3" !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.custom_content .card #divVideos ul {
  font-weight: 400;
}
#videos {
  padding-left: 0;
}
#videos .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
#videos .card-body a {
  font-family: "Source Sans 3" !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  padding-left: 0;
}
#videos .btn-danger {
  font-size: 18px;
  line-height: 18px;
  color: #e3342f;
  background-color: transparent;
  border-color: transparent;
  padding: 8px 10px;
}
#videos .list-group-item {
  padding: 0.3rem 1rem;
}
#videos .list-group-item,
#videos .list-group-item .card-body {
  background-color: #fbfbfb;
  border: none;
}
#videos .list-group-item:nth-of-type(2n),
#videos .list-group-item:nth-of-type(2n) .card-body {
  background-color: #f1f1f1;
}
#btnEnviaForm {
  padding: 0.8rem 2.8rem !important;
  border-radius: 8px;
}
#divFotos .input-group-btn .btn-file {
  text-transform: unset;
}
#divFotos .fa-trash::before {
  margin-right: 6px;
}
.card-title {
  line-height: 22px;
}
#listagemRecursos .col {
  padding-right: 8px;
  padding-left: 8px;
}
#listagemRecursos .card-img-top {
  height: 12rem;
}
.col-2_5 {
  flex: 0 0 21%;
  max-width: 21%;
}
.col-7_5 {
  flex: 0 0 79%;
  max-width: 79%;
}
.pagination {
  gap: 4px;
}
.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
  padding: 0.5rem 0.93rem;
  border: 1px solid #383838;
  border-radius: 4px !important;
  color: #383838 !important;
  cursor: pointer;
}
.page-item.active .page-link {
  background-color: #383838;
  border-color: #383838;
  color: #ffffff !important;
}
.page-link:hover {
  background-color: #636363;
  border-color: #636363;
  color: #ffffff !important;
}





/*


breakpoint 1480
*/




















/***************************/
/* Alto contraste          */
/***************************/

.high-contrast body,
.high-contrast .banner
.high-contrast main,
.high-contrast main .container,
.high-contrast main .container .card,
.high-contrast input,
.high-contrast main #divVideos input,
.high-contrast main #divArquivos input,
.high-contrast main #divManuais input,
.high-contrast textarea,
.high-contrast header,
.high-contrast header nav,
.high-contrast .amsify-suggestags-area .form-control,
.high-contrast .amsify-suggestags-area .amsify-suggestags-list,
.high-contrast .file-caption-main,
.high-contrast .file-caption-main .file-caption,
.high-contrast .dropdown-menu,
.high-contrast .dropdown-menu .dropdown-item,
.high-contrast div.btn-file,
.high-contrast ol.breadcrumb,
.high-contrast div.modal,
.high-contrast a.sr-only,
.high-contrast #btnSearch
{
  color: white !important;
  background-color: black !important;
}
.high-contrast #btnSearch {
  border: 1px solid white !important;
}

.high-contrast .card-recurso-ta *,
.high-contrast main .contribute-strip,
.high-contrast .banner,
.high-contrast .banner .row,
.high-contrast .banner .card-body,
.high-contrast header,
.high-contrast header nav,
.high-contrast main .cadastro-ta-card .card,
.high-contrast main #divVideos *,
.high-contrast main #divArquivos *,
.high-contrast main #divManuais *,
.high-contrast footer,
.high-contrast footer .footer-copyright,
.high-contrast #fotosDescricao,
.high-contrast #colunaDireita,
.high-contrast div.modal div.modal-content,
.high-contrast main ol.breadcrumb
{
  background-color: #222222 !important;
}

.high-contrast ::placeholder,
.high-contrast main ol.breadcrumb li,
.high-contrast .file-preview-frame .explorer-caption
{
  color: white !important;
}

.high-contrast button,
.high-contrast div.modal a.btn,
.high-contrast main #divVideos button,
.high-contrast main #divArquivos button,
.high-contrast main #divManuais button,
.high-contrast button[type="submit"] {
  background-color: black !important;
  color: white !important;
} 


.high-contrast input, 
.high-contrast button,
.high-contrast textarea,
.high-contrast div.btn-file,
.high-contrast div.file-caption,
.high-contrast div.modal a.btn,
.high-contrast .amsify-suggestags-area .amsify-suggestags-input-area
{
  border-color: white !important;
  outline-color: yellow !important;
}

.high-contrast main a,
.high-contrast main #colunaDireita a,
.high-contrast .link-primary {
  color: #7CB8EA !important;
}

.high-contrast input:focus, 
.high-contrast button:focus,
.high-contrast textarea:focus,
.high-contrast a:focus,
.high-contrast .btn-file #fotos:focus,
.high-contrast nav.menuTelaPrincipal a:focus, 
.high-contrast nav.menuNavegacaoSecundario a:focus,
.high-contrast div.contribute-strip a:focus,
.high-contrast div.modal a.btn:focus,
.high-contrast footer a:focus
{
  outline-width: 3px !important;
  outline-style: dashed !important;  
  outline-color: yellow !important;
}

.high-contrast .banner .card,
.high-contrast .card-recurso-ta,
.high-contrast main .cadastro-ta-card .card
{
  border: none;
}

.high-contrast main .cadastro-ta-card {
  margin-bottom: 2rem !important;
}

.high-contrast #colunaDireita hr {
  background-color: white;
}

.high-contrast .badge-primary,
.high-contrast main #colunaDireita .badge-primary {
  /* background-color: #000088 !important; */
  background-color: #BBBBBB !important;
  color: black !important;
}

.high-contrast div.file-drop-zone-title {
  color: #DDDDDD !important;
}

.high-contrast .amsify-list-item.active {
  color: black !important;
}

.high-contrast .file-preview-frame:hover {
  background-color: #333333;
}

.high-contrast .bg-white,
.high-contrast .bg-blue,
.high-contrast .bg-purple,
.high-contrast .bg-secondary,
.high-contrast main .container .card.bg-secondary {
  background-color: #222 !important;
}
.high-contrast .bg-blue p,
.high-contrast .bg-purple p,
.high-contrast .footer-copyright span {
  color: #fff !important;
}
.high-contrast main .container.banner {
  background: #222222 !important;
  background-color: #222222 !important;
}
.high-contrast .navbar-light .navbar-nav .nav-link,
.high-contrast .navbar-light .navbar-nav .nav-link:hover,
.high-contrast .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 1) !important;
}
.high-contrast .navbar-brand span.h4 {
  filter: brightness(0) invert(1);
}
.high-contrast #box-form {
  background-color: #000 !important;
  border: 1px solid white !important;
}
.high-contrast #navegacaoCategorias.navbar-light .navbar-nav .nav-link {
  background-color: #383838 !important;
  color: #f9efe4 !important;
  border-color: white !important;
}
.high-contrast .custom_content .card h3 a {
  color: #fff !important;
}
.high-contrast .bg-transparent,
.high-contrast main .cadastro-ta-card .card.bg-transparent {
  background-color: transparent !important;
}
.high-contrast .amsify-suggestags-input, .high-contrast .file-preview, .high-contrast #fotoDestaque .file-caption {
  background-color: #000;
  border: 1px solid #ddd;
}
.high-contrast #divFotos .input-group-btn .btn-file {
  border: 1px solid #ddd;
}
.high-contrast .bg-gray.form-control {
  border: 1px solid #ced4da;
}
.high-contrast .custom-file-label.bg-gray,
.high-contrast .custom-file-label::after {
  background-color: #000000 !important;
  color: white;
  border: 1px solid #ced4da;
}
.high-contrast #btnAdicionarVideo {
  border: 1px solid #ced4da;
}
.high-contrast #btnEnviaForm {
  background-color: #222 !important;
}
.high-contrast .file-preview-thumbnails {
  background-color: #000;
}