/* Customizacoes sobre elementos especificos*/

/*Ajustes sobre o corpo da página
/*Adiciona espaço para que a navbar secundária permaneça fixa no topo da tela sem sobrepor o conteúdo*/
body { 
  padding-top: 100px; /*50px é a altura padrão das navbars no bootstrap, como temos duas precisamos de 100px*/
  min-height: 100vh;
}

/* Outline dos links (geral, menus, rodapé)  */
input:focus, 
button:focus,
textarea:focus,
a:focus {
  outline-width: 3px !important;
  outline-style: dashed !important;  
}

a:focus,
input:focus, 
button:focus,
textarea:focus,
nav.menuTelaPrincipal a:focus, 
nav.menuNavegacaoSecundario a:focus,
div.contribute-strip a:focus,
footer a:focus {
  outline-color: black !important;
}


/* Listas no Mapa do Site */
#mapa-do-site, #mapa-do-site li {
  list-style: none !important;
}


/*  Breadcrumb */
ol.breadcrumb li{
  color: black !important;
}

ol.breadcrumb a{
  color: #0a60a7 !important;
}

main div.row.breadcrumb-clear-pad, 
main div.row.breadcrumb-clear-pad div.col
{
  padding: 0 !important;
}

/* Menu de navegação */
#navegacaoPrincipal {
  justify-content: flex-end;
}

/*
*******************************************************/

/*Sobrescreve as cores dos botões normalmente utilizados em formulários
*/
.btn-primary{
  background-color: #3E67B1!important;
  border-color: #3E67B1!important; 
}

.btn-primary:hover{
  filter: brightness(115%);
}
/************* Banner da tela principal **************/
.banner{
	/*background: url(/imagens/fundoMenuPrincipal.jpg) scroll center no-repeat;*/
  background-color: #3E67B1!important;
  /**background-size: cover;**/
}
/***************************/

.custom-file-label::after{
  content:"Procurar" !important;
  background-color: #3E67B1!important;
  color: white;
}
/*****Customização dos Menus *****
*
*
/**Define um tamanho adequado para o botão das redes sociais aparecerem nos menus**/
.iconePequeno{
  background: none;
  border: none;
  max-width: 32px;
}

.card-img-top {
  height: 10rem;
  object-fit: none;
}

.fotoSelecionada{
  /*object-fit: none !important;*/
  max-width: 100%;
  max-height: 100%;
  display: block;  
}

/**Ajusta o menu de navegação principal para que, ao colapsar, expanda seus itens por sobre a página**/
.menuTelaPrincipal{
	position: absolute!important;
	width: 100%!important;
	z-index: 20;
	top: 50px;
}

/**Ajusta a cor do bg-primary para uma das cores temas escolhidas para o projeto**/
.bg-primary{
	background-color: #3E67B1!important;
}

/**Muda a cor para a outra cor do tema ao clicar ou passar por cima do botão de exibir menu (quando a barra está colapsada)**/
button.bg-primary:hover, button.bg-primary:focus {
  background-color: #21376C!important;
}

/**Muda a cor das letras dos itens do menu para aumentar o contraste*/
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

/**Ajusta a cor do bg-secondary para uma das cores escolhidas para o projeto**/
.bg-secondary{
	background-color: #21376C!important;
}

/**Muda a cor para a outra cor do tema ao clicar ou passar por cima do botão de exibir menu (quando a barra está colapsada)**/
button.bg-secondary:hover, button.bg-secondary:focus {
  background-color: #3E67B1!important;
}

.dottedUnderline{
  text-decoration:underline!important;
text-decoration-style: dotted!important;
}

.badge-primary {
  color: #FFFFFF !important;
  background-color: #3E67B1 !important;
}

#manuais a, #arquivos a, #fabricante a {
  color: #2075BC !important;
}


.sr-only {
  color: #000000 !important;
  background-color: #FFFFFF !important;
}

.btn.btn-success {
  background-color: #26824C !important;
}

.file-drop-zone-title {
  color: #757575 !important;
}

a.link-primary {
  color: #2075BC !important;
}

/*
*
/*******	Fim da customização dos menus *******/

/** Classe para sinalizar campos obrigatórios de formulários**/
.form-group.required .col-form-label:after { 
 content:"*";
 color:red;
}

/** Classe para sinalizar qualquer elemento html como obrigatorio **/
.obrigatorio:after{
  content:"*";
  color:red;
}

/**Classe para posicionar o botão dentro de um input field***/
.botao-dentro-input{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/**Classe para dar destaque a item**/
.destaque{
  background-color: #ECF83BB3!important;
}

/**Muda o cursor para indicar que é clicável**/
.cursor-pointer{
  cursor:pointer;
}
/*************************************************************/

.page-footer{
  color: rgba(255, 255, 255, 1) !important;
}

/* unvisited link */
.page-footer a {
  color: rgba(255, 255, 255, 1) !important;
  text-decoration: underline;
}

/* mouse over link */
.page-footer a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

/*********** Diferentes opacidades porque o Bootstrap não definiu
*
*/
.opacidade-0 {
  opacity:0!important;
}
.opacidade-2 {
  opacity:0.2!important;
}
.opacidade-4 {
  opacity:0.4!important;
}
.opacidade-6 {
  opacity:0.6!important;
}
.opacidade-8 {
  opacity:0.8!important;
}
.opacidade-10 {
  opacity:1!important;
}
/**
*
********** Fim das classes de opacidade*****/

.tagChip{
  color:white !important;
  font-size: 16px !important;
  background-color: #3E67B1 !important;
}


/***************************/
/* Alto contraste          */
/***************************/

.high-contrast body,
.high-contrast .banner
.high-contrast main,
.high-contrast main .container,
.high-contrast main .container .card,
.high-contrast input,
.high-contrast main #divVideos input,
.high-contrast main #divArquivos input,
.high-contrast main #divManuais input,
.high-contrast textarea,
.high-contrast header,
.high-contrast header nav,
.high-contrast .amsify-suggestags-area .form-control,
.high-contrast .amsify-suggestags-area .amsify-suggestags-list,
.high-contrast .file-caption-main,
.high-contrast .file-caption-main .file-caption,
.high-contrast .dropdown-menu,
.high-contrast .dropdown-menu .dropdown-item,
.high-contrast div.btn-file,
.high-contrast ol.breadcrumb,
.high-contrast div.modal,
.high-contrast a.sr-only
{
  color: white !important;
  background-color: black !important;
}

.high-contrast .card-recurso-ta *,
.high-contrast main .contribute-strip,
.high-contrast .banner,
.high-contrast .banner .row,
.high-contrast .banner .card-body,
.high-contrast header,
.high-contrast header nav,
.high-contrast main .cadastro-ta-card .card,
.high-contrast main #divVideos *,
.high-contrast main #divArquivos *,
.high-contrast main #divManuais *,
.high-contrast footer,
.high-contrast footer .footer-copyright,
.high-contrast #fotosDescricao,
.high-contrast #colunaDireita,
.high-contrast div.modal div.modal-content,
.high-contrast main ol.breadcrumb
{
  background-color: #222222 !important;
}

.high-contrast ::placeholder,
.high-contrast main ol.breadcrumb li,
.high-contrast .file-preview-frame .explorer-caption
{
  color: white !important;
}

.high-contrast button,
.high-contrast div.modal a.btn,
.high-contrast main #divVideos button,
.high-contrast main #divArquivos button,
.high-contrast main #divManuais button,
.high-contrast button[type="submit"] {
  background-color: black !important;
  color: white !important;
} 


.high-contrast input, 
.high-contrast button,
.high-contrast textarea,
.high-contrast div.btn-file,
.high-contrast div.file-caption,
.high-contrast div.modal a.btn,
.high-contrast .amsify-suggestags-area .amsify-suggestags-input-area
{
  border-color: white !important;
  outline-color: yellow !important;
}

.high-contrast main a,
.high-contrast main #colunaDireita a,
.high-contrast .link-primary {
  color: #7CB8EA !important;
}

.high-contrast input:focus, 
.high-contrast button:focus,
.high-contrast textarea:focus,
.high-contrast a:focus,
.high-contrast .btn-file #fotos:focus,
.high-contrast nav.menuTelaPrincipal a:focus, 
.high-contrast nav.menuNavegacaoSecundario a:focus,
.high-contrast div.contribute-strip a:focus,
.high-contrast div.modal a.btn:focus,
.high-contrast footer a:focus
{
  outline-width: 3px !important;
  outline-style: dashed !important;  
  outline-color: yellow !important;
}

.high-contrast .banner .card,
.high-contrast .card-recurso-ta,
.high-contrast main .cadastro-ta-card .card
{
  border: none;
}

.high-contrast main .cadastro-ta-card {
  margin-bottom: 2rem !important;
}

.high-contrast #colunaDireita hr {
  background-color: white;
}

.high-contrast .badge-primary,
.high-contrast main #colunaDireita .badge-primary {
  /* background-color: #000088 !important; */
  background-color: #BBBBBB !important;
  color: black !important;
}

.high-contrast div.file-drop-zone-title {
  color: #DDDDDD !important;
}

.high-contrast .amsify-list-item.active {
  color: black !important;
}

.high-contrast .file-preview-frame:hover {
  background-color: #333333;
}


/***************************/


ul.ui-autocomplete {
   overflow: auto !important;
   max-height: 300px !important;
}

