/* Customizacoes sobre elementos especificos*/

/*Ajustes sobre o corpo da página
/*Adiciona espaço para que a navbar secundária permaneça fixa no topo da tela sem sobrepor o conteúdo*/
body { padding-top: 100px; /*50px é a altura padrão das navbars no bootstrap, como temos duas precisamos de 100px*/ }
/*
*******************************************************/

/*Sobrescreve as cores dos botões normalmente utilizados em formulários
*/
.btn-primary{
  background-color: #3E67B1!important;
  border-color: #3E67B1!important; 
}

.btn-primary:hover{
  filter: brightness(115%);
}
/************* Banner da tela principal **************/
.banner{
	/*background: url(/imagens/fundoMenuPrincipal.jpg) scroll center no-repeat;*/
  background-color: #3E67B1!important;
  /**background-size: cover;**/
}
/***************************/

.custom-file-label::after{
  content:"Procurar" !important;
  background-color: #3E67B1!important;
  color: white;
}
/*****Customização dos Menus *****
*
*
/**Define um tamanho adequado para o botão das redes sociais aparecerem nos menus**/
.iconePequeno{
  background: none;
  border: none;
  max-width: 32px;
}

.card-img-top {
  height: 10rem;
  object-fit: none;
}

.fotoSelecionada{
  object-fit: none !important;
  max-width: 100%;
  max-height: 100%;
  display: block;  
}

/**Ajusta o menu de navegação principal para que, ao colapsar, expanda seus itens por sobre a página**/
.menuTelaPrincipal{
	position: absolute!important;
	width: 100%!important;
	z-index: 20;
	top: 50px;
}

/**Ajusta a cor do bg-primary para uma das cores temas escolhidas para o projeto**/
.bg-primary{
	background-color: #3E67B1!important;
}

/**Muda a cor para a outra cor do tema ao clicar ou passar por cima do botão de exibir menu (quando a barra está colapsada)**/
button.bg-primary:hover, button.bg-primary:focus {
  background-color: #21376C!important;
}

/**Muda a cor das letras dos itens do menu para aumentar o contraste*/
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

/**Ajusta a cor do bg-secondary para uma das cores escolhidas para o projeto**/
.bg-secondary{
	background-color: #21376C!important;
}

/**Muda a cor para a outra cor do tema ao clicar ou passar por cima do botão de exibir menu (quando a barra está colapsada)**/
button.bg-secondary:hover, button.bg-secondary:focus {
  background-color: #3E67B1!important;
}

.dottedUnderline{
  text-decoration:underline!important;
text-decoration-style: dotted!important;
}
/*
*
/*******	Fim da customização dos menus *******/

/** Classe para sinalizar campos obrigatórios de formulários**/
.form-group.required .col-form-label:after { 
 content:"*";
 color:red;
}

/** Classe para sinalizar qualquer elemento html como obrigatorio **/
.obrigatorio:after{
  content:"*";
  color:red;
}

/**Classe para posicionar o botão dentro de um input field***/
.botao-dentro-input{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/**Classe para dar destaque a item**/
.destaque{
  background-color: #ECF83BB3!important;
}

/**Muda o cursor para indicar que é clicável**/
.cursor-pointer{
  cursor:pointer;
}
/*************************************************************/

.page-footer{
  color: rgba(255, 255, 255, 1) !important;
}

/* unvisited link */
.page-footer a {
  color: rgba(255, 255, 255, 1) !important;
  text-decoration: underline;
}

/* mouse over link */
.page-footer a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

/*********** Diferentes opacidades porque o Bootstrap não definiu
*
*/
.opacidade-0 {
  opacity:0!important;
}
.opacidade-2 {
  opacity:0.2!important;
}
.opacidade-4 {
  opacity:0.4!important;
}
.opacidade-6 {
  opacity:0.6!important;
}
.opacidade-8 {
  opacity:0.8!important;
}
.opacidade-10 {
  opacity:1!important;
}
/**
*
********** Fim das classes de opacidade*****/

.tagChip{
  color:white !important;
  font-size: 16px !important;
  background-color: #3E67B1 !important;
}

